<div style="padding: 15px">
  <button type="button" class="btn btn-primary" routerLink="/productos">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    Todos los productos
  </button>
</div>

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/importados/colombia/mallas/bodys4Unidades.jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/importados/colombia/mallas/bodys4Unidades.jpg"
        alt="Texto alternativo imagen 4"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Mallitas</p>
      <h3 class="product-name">
        <a href="#">Body's x 4 uni.</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/importados/colombia/mallas/bodysx7.jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/importados/colombia/mallas/bodysx7.jpg"
        alt="Texto alternativo imagen 4"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Mallitas</p>
      <h3 class="product-name">
        <a href="#">Body's x 7 uni.</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/importados/colombia/mallas/mallaAjuar.jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/importados/colombia/mallas/mallaAjuar.jpg"
        alt="Texto alternativo imagen 2"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Mallitas</p>
      <h3 class="product-name">
        <a href="#">Ajuar Penguin</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/importados/colombia/mallas/mallaAlmohadaCuadrada.jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/importados/colombia/mallas/mallaAlmohadaCuadrada.jpg"
        alt="Texto alternativo imagen 3"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Mallitas</p>
      <h3 class="product-name">
        <a href="#">Almohada Cuadrada</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/importados/colombia/mallas/mallaAlmohadaCuadrada2.jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/importados/colombia/mallas/mallaAlmohadaCuadrada2.jpg"
        alt="Texto alternativo imagen 4"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Mallitas</p>
      <h3 class="product-name">
        <a href="#">Almohada Cuadrada 2</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/importados/colombia/mallas/mallaAlmohadaNube.jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/importados/colombia/mallas/mallaAlmohadaNube.jpg"
        alt="Texto alternativo imagen 1"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Mallitas</p>
      <h3 class="product-name">
        <a href="#">Almohada nube</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/importados/colombia/mallas/mallaAlmohadaRedonda.jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/importados/colombia/mallas/mallaAlmohadaRedonda.jpg"
        alt="Texto alternativo imagen 2"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Mallitas</p>
      <h3 class="product-name">
        <a href="#">Almohada redonda</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/importados/colombia/mallas/mallaBiberon.jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/importados/colombia/mallas/mallaBiberon.jpg"
        alt="Texto alternativo imagen 3"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Mallitas</p>
      <h3 class="product-name"><a href="#">Biberon</a><br /><br /></h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/importados/colombia/mallas/mallaSalidasCompletas.jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/importados/colombia/mallas/mallaSalidasCompletas.jpg"
        alt="Texto alternativo imagen 1"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Mallitas</p>
      <h3 class="product-name">
        <a href="#">Salida de ba&ntilde;o completa</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/importados/colombia/mallas/mallaSonaja.jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/importados/colombia/mallas/mallaSonaja.jpg"
        alt="Texto alternativo imagen 2"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Mallitas</p>
      <h3 class="product-name">
        <a href="#">Ponchito & Sonaja</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/importados/colombia/mallas/mallasSalidas.jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/importados/colombia/mallas/mallasSalidas.jpg"
        alt="Texto alternativo imagen 3"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Mallitas</p>
      <h3 class="product-name">
        <a href="#">Salida de ba&ntilde;o</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/importados/colombia/mallas/mallaToalla.jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/importados/colombia/mallas/mallaToalla.jpg"
        alt="Texto alternativo imagen 4"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Mallitas</p>
      <h3 class="product-name">
        <a href="#">toallita de mano</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->
<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/importados/colombia/mallas/semanero21Piezas.jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/importados/colombia/mallas/semanero21Piezas.jpg"
        alt="Texto alternativo imagen 1"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Mallitas</p>
      <h3 class="product-name">
        <a href="#">Semanero x 21 piezas</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/importados/colombia/mallas/semaneros.jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/importados/colombia/mallas/semaneros.jpg"
        alt="Texto alternativo imagen 2"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Mallitas</p>
      <h3 class="product-name">
        <a href="#">Semanero x 14 piezas</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/importados/colombia/mallas/mallitaEcoNiña.png"
    >
      <img
        src="./assets/Bootstrap/img/productos/importados/colombia/mallas/mallitaEcoNiña.png"
        alt="Texto alternativo imagen 2"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Mallitas</p>
      <h3 class="product-name">
        <a href="#">eco. ni&ntilde;a</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/importados/colombia/mallas/mallaAlmohadaLuna.png"
    >
      <img
        src="./assets/Bootstrap/img/productos/importados/colombia/mallas/mallaAlmohadaLuna.png"
        alt="Texto alternativo imagen 3"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Mallitas</p>
      <h3 class="product-name">
        <a href="#">Almohada luna</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->
