<!-- FOOTER -->
<footer id="footer">
  <!-- top footer -->
  <div class="section">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">About Us</h3>
            <p>
              Somos una marca con 15 años de trayectoria esmerada en ofrecer
              ropa para su beb&eacute; 100% garantizada, con excelente calidad y
              terminado.
            </p>
            <ul class="footer-links">
              <li>
                <a href="#"
                  ><i class="fa fa-map-marker"></i> Ecuador / Atuntaqui</a
                >
              </li>
              <li>
                <a href="#"><i class="fa fa-phone"></i>+593-99-317-8712</a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-envelope-o"></i
                  >confecciones_stephany@hotmail.com</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Categories</h3>
            <ul class="footer-links">
              <li><a [routerLink]="['/productos/termicos']">Termicos</a></li>
              <li><a [routerLink]="['/productos/varios']">Varios</a></li>
              <li><a [routerLink]="['/productos/mallitas']">Conjuntos en mallitas</a></li>
              <li><a [routerLink]="['/productos/imp-pe']">Conjuntos coconuez</a></li>
              <li><a [routerLink]="['/productos/imp-co']">Baby sue&ntilde;os / Goticas baby</a></li>
            </ul>
          </div>
        </div>

        <div class="clearfix visible-xs"></div>

        <div class="col-md-3 col-xs-6">
          <div class="footer">
            <h3 class="footer-title">Information</h3>
            <ul class="footer-links">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact Us</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Orders and Returns</a></li>
              <li><a href="#">Terms & Conditions</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /top footer -->

  <!-- bottom footer -->
  <div id="bottom-footer" class="section">
    <div class="container">
      <!-- row -->
      <div class="row">
        <div class="col-md-12 text-center">
          <!-- <ul class="footer-payments">
            <li>
              <a href="#"><i class="fa fa-cc-visa"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-credit-card"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-cc-paypal"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-cc-mastercard"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-cc-discover"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-cc-amex"></i></a>
            </li>
          </ul> -->
          <span class="copyright">
            Copyright &copy; {{ anio }}
            All rights reserved | Made with
            <i class="fa fa-heart-o" aria-hidden="true"></i> by Jhon F. Aguirre
          </span>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /bottom footer -->
</footer>
<!-- /FOOTER -->
