<div style="padding: 15px">
  <button type="button" class="btn btn-primary" routerLink="/productos">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    Todos los productos
  </button>
</div>

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/importados/colombia/a (2).jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/importados/colombia/a (2).jpg"
        alt="Texto alternativo imagen 4"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">tallas 4, 6, 8</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Goticas Baby</p>
      <h3 class="product-name">
        <a href="#">ref. 0001</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/importados/colombia/a (3).jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/importados/colombia/a (3).jpg"
        alt="Texto alternativo imagen 4"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">tallas 4, 6</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Baby sue&ntilde;os</p>
      <h3 class="product-name">
        <a href="#">ref. 0002</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/importados/colombia/a (6).jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/importados/colombia/a (6).jpg"
        alt="Texto alternativo imagen 2"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">tallas 4, 6</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Baby sue&ntilde;os</p>
      <h3 class="product-name">
        <a href="#">ref. 0004</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/importados/colombia/a (7).jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/importados/colombia/a (7).jpg"
        alt="Texto alternativo imagen 3"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">tallas 4, 6</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Baby sue&ntilde;os</p>
      <h3 class="product-name"><a href="#">ref. 0005</a><br /><br /></h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/importados/colombia/a (8).jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/importados/colombia/a (8).jpg"
        alt="Texto alternativo imagen 4"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">tallas 4, 6</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Baby sue&ntilde;os</p>
      <h3 class="product-name">
        <a href="#">ref. 0006</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/importados/colombia/a (9).jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/importados/colombia/a (9).jpg"
        alt="Texto alternativo imagen 1"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">tallas 4, 6, 8</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Goticas Baby</p>
      <h3 class="product-name">
        <a href="#">ref. 0007</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/importados/colombia/o (10).jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/importados/colombia/o (10).jpg"
        alt="Texto alternativo imagen 2"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">tallas 4, 6, 8</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Baby sue&ntilde;os</p>
      <h3 class="product-name">
        <a href="#">ref. 0008</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/importados/colombia/o (11).jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/importados/colombia/o (11).jpg"
        alt="Texto alternativo imagen 3"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">tallas 4, 6</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Baby sue&ntilde;os</p>
      <h3 class="product-name">
        <a href="#">ref. 0009</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/importados/colombia/o (14).jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/importados/colombia/o (14).jpg"
        alt="Texto alternativo imagen 4"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">tallas 4, 6</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Baby sue&ntilde;os</p>
      <h3 class="product-name">
        <a href="#">ref. 0010</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->
<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/importados/colombia/o (15).jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/importados/colombia/o (15).jpg"
        alt="Texto alternativo imagen 1"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">tallas 4, 6</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Baby sue&ntilde;os</p>
      <h3 class="product-name">
        <a href="#">ref. 0011</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/importados/colombia/o (16).jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/importados/colombia/o (16).jpg"
        alt="Texto alternativo imagen 2"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">tallas 4, 6</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Baby sue&ntilde;os</p>
      <h3 class="product-name"><a href="#">ref. 0012</a><br /><br /></h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/importados/colombia/o (17).jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/importados/colombia/o (17).jpg"
        alt="Texto alternativo imagen 3"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">tallas 4, 6</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Baby sue&ntilde;os</p>
      <h3 class="product-name"><a href="#">ref. 0013</a><br /><br /></h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/importados/colombia/o (18).png"
    >
      <img
        src="./assets/Bootstrap/img/productos/importados/colombia/o (18).png"
        alt="Texto alternativo imagen 4"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">tallas 4, 6</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Baby sue&ntilde;os</p>
      <h3 class="product-name">
        <a href="#">ref. 0014</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->
<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/importados/colombia/o (2).jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/importados/colombia/o (2).jpg"
        alt="Texto alternativo imagen 1"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">tallas 4, 6, 8</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Goticas baby</p>
      <h3 class="product-name">
        <a href="#">ref. 0015</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/importados/colombia/o (3).jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/importados/colombia/o (3).jpg"
        alt="Texto alternativo imagen 2"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">tallas 4, 6, 8</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Goticas baby</p>
      <h3 class="product-name">
        <a href="#">ref. 0016</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/importados/colombia/o (4).jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/importados/colombia/o (4).jpg"
        alt="Texto alternativo imagen 3"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">tallas 4, 6, 8</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Goticas baby</p>
      <h3 class="product-name">
        <a href="#">ref. 0017</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/importados/colombia/o (6).jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/importados/colombia/o (6).jpg"
        alt="Texto alternativo imagen 4"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">tallas 4, 6</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Baby sue&ntilde;os</p>
      <h3 class="product-name">
        <a href="#">ref. 0018</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->
<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/importados/colombia/o (7).jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/importados/colombia/o (7).jpg"
        alt="Texto alternativo imagen 1"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">tallas 4, 6, 8</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Goticas baby</p>
      <h3 class="product-name">
        <a href="#">ref. 0019</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/importados/colombia/o (8).jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/importados/colombia/o (8).jpg"
        alt="Texto alternativo imagen 2"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">tallas 4, 6</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Baby sue&ntilde;os</p>
      <h3 class="product-name">
        <a href="#">ref. 0020</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/importados/colombia/o (9).jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/importados/colombia/o (9).jpg"
        alt="Texto alternativo imagen 3"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">tallas 4, 6</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Baby sue&ntilde;os</p>
      <h3 class="product-name">
        <a href="#">ref. 0021</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->
