<div style="padding: 15px">
  <button type="button" class="btn btn-primary" routerLink="/productos">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    Todos los productos
  </button>
</div>
<!-- PREMATUROS -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/termicos/m_prematuro1.jpeg"
    >
      <img
        src="./assets/Bootstrap/img/productos/termicos/m_prematuro1.jpeg"
        alt="Texto alternativo imagen 4"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">T&eacute;rmico</p>
      <h3 class="product-name">
        <a href="#">Enterizo prematuro 1</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/termicos/m_prematuro2.jpeg"
    >
      <img
        src="./assets/Bootstrap/img/productos/termicos/m_prematuro2.jpeg"
        alt="Texto alternativo imagen 4"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">T&eacute;rmico</p>
      <h3 class="product-name">
        <a href="#">Enterizo prematuro 2</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/termicos/abc.jpeg"
    >
      <img
        src="./assets/Bootstrap/img/productos/termicos/abc.jpeg"
        alt="Texto alternativo imagen 1"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>

    <div class="product-body desc">
      <p class="product-category">T&eacute;rmico</p>
      <h3 class="product-name">
        <a href="#">Conjunto ABC</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/termicos/bolsillo.jpeg"
    >
      <img
        src="./assets/Bootstrap/img/productos/termicos/bolsillo.jpeg"
        alt="Texto alternativo imagen 2"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">T&eacute;rmico</p>
      <h3 class="product-name">
        <a href="#">Conjunto Bolsillo</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/termicos/babero.jpeg"
    >
      <img
        src="./assets/Bootstrap/img/productos/termicos/babero.jpeg"
        alt="Texto alternativo imagen 3"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">T&eacute;rmico</p>
      <h3 class="product-name">
        <a href="#">Conjunto babero</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/termicos/capota.jpeg"
    >
      <img
        src="./assets/Bootstrap/img/productos/termicos/capota.jpeg"
        alt="Texto alternativo imagen 4"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">T&eacute;rmico</p>
      <h3 class="product-name">
        <a href="#">Conjunto capota</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/termicos/chaleco1.jpeg"
    >
      <img
        src="./assets/Bootstrap/img/productos/termicos/chaleco1.jpeg"
        alt="Texto alternativo imagen 1"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>

    <div class="product-body desc">
      <p class="product-category">T&eacute;rmico</p>
      <h3 class="product-name">
        <a href="#">Conjunto chaleco bolsillos</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/termicos/chaleco2.jpeg"
    >
      <img
        src="./assets/Bootstrap/img/productos/termicos/chaleco2.jpeg"
        alt="Texto alternativo imagen 2"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">T&eacute;rmico</p>
      <h3 class="product-name">
        <a href="#">Conjunto chaleco redondo</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/termicos/chaleco_tallas.jpeg"
    >
      <img
        src="./assets/Bootstrap/img/productos/termicos/chaleco_tallas.jpeg"
        alt="Texto alternativo imagen 3"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">T&eacute;rmico</p>
      <h3 class="product-name">
        <a href="#">Conjunto chaleco impermeable</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/termicos/conejito.jpeg"
    >
      <img
        src="./assets/Bootstrap/img/productos/termicos/conejito.jpeg"
        alt="Texto alternativo imagen 4"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">T&eacute;rmico</p>
      <h3 class="product-name">
        <a href="#">Conjunto conejito </a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->
<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/termicos/doggy.jpeg"
    >
      <img
        src="./assets/Bootstrap/img/productos/termicos/doggy.jpeg"
        alt="Texto alternativo imagen 1"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>

    <div class="product-body desc">
      <p class="product-category">T&eacute;rmico</p>
      <h3 class="product-name">
        <a href="#">Conjunto doggy</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/termicos/fresita.jpeg"
    >
      <img
        src="./assets/Bootstrap/img/productos/termicos/fresita.jpeg"
        alt="Texto alternativo imagen 2"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">T&eacute;rmico</p>
      <h3 class="product-name">
        <a href="#">Vestido fresita</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/termicos/guantes.jpeg"
    >
      <img
        src="./assets/Bootstrap/img/productos/termicos/guantes.jpeg"
        alt="Texto alternativo imagen 3"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">T&eacute;rmico</p>
      <h3 class="product-name">
        <a href="#">Conjunto guantes</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/termicos/img.jpeg"
    >
      <img
        src="./assets/Bootstrap/img/productos/termicos/img.jpeg"
        alt="Texto alternativo imagen 4"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">T&eacute;rmico</p>
      <h3 class="product-name">
        <a href="#">Conjunto osito tejido</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->
<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/termicos/m_manitos.jpeg"
    >
      <img
        src="./assets/Bootstrap/img/productos/termicos/m_manitos.jpeg"
        alt="Texto alternativo imagen 1"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>

    <div class="product-body desc">
      <p class="product-category">T&eacute;rmico</p>
      <h3 class="product-name">
        <a href="#">Enterizo manitos</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/termicos/m_ojitos.jpeg"
    >
      <img
        src="./assets/Bootstrap/img/productos/termicos/m_ojitos.jpeg"
        alt="Texto alternativo imagen 2"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">T&eacute;rmico</p>
      <h3 class="product-name">
        <a href="#">Enterizo ojitos</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/termicos/m_pancita.jpeg"
    >
      <img
        src="./assets/Bootstrap/img/productos/termicos/m_pancita.jpeg"
        alt="Texto alternativo imagen 3"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">T&eacute;rmico</p>
      <h3 class="product-name">
        <a href="#">Enterizo pancita</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/termicos/m_piopio.jpeg"
    >
      <img
        src="./assets/Bootstrap/img/productos/termicos/m_piopio.jpeg"
        alt="Texto alternativo imagen 4"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">T&eacute;rmico</p>
      <h3 class="product-name">
        <a href="#">Enterizo pio pio</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->
<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/termicos/m_puppy.jpeg"
    >
      <img
        src="./assets/Bootstrap/img/productos/termicos/m_puppy.jpeg"
        alt="Texto alternativo imagen 1"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>

    <div class="product-body desc">
      <p class="product-category">T&eacute;rmico</p>
      <h3 class="product-name">
        <a href="#">Enterizo puppy </a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/termicos/manitos.jpeg"
    >
      <img
        src="./assets/Bootstrap/img/productos/termicos/manitos.jpeg"
        alt="Texto alternativo imagen 2"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">T&eacute;rmico</p>
      <h3 class="product-name">
        <a href="#">Conjunto manitos</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/termicos/mariposita.jpeg"
    >
      <img
        src="./assets/Bootstrap/img/productos/termicos/mariposita.jpeg"
        alt="Texto alternativo imagen 3"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">T&eacute;rmico</p>
      <h3 class="product-name">
        <a href="#">Vestido mariposita</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/termicos/o_estrellita.jpeg"
    >
      <img
        src="./assets/Bootstrap/img/productos/termicos/o_estrellita.jpeg"
        alt="Texto alternativo imagen 4"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">T&eacute;rmico</p>
      <h3 class="product-name">
        <a href="#">Overol Estrellita</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->
<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/termicos/o_forrado.jpeg"
    >
      <img
        src="./assets/Bootstrap/img/productos/termicos/o_forrado.jpeg"
        alt="Texto alternativo imagen 1"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>

    <div class="product-body desc">
      <p class="product-category">T&eacute;rmico</p>
      <h3 class="product-name">
        <a href="#">Overol Forrado</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/termicos/o_gatito.jpeg"
    >
      <img
        src="./assets/Bootstrap/img/productos/termicos/o_gatito.jpeg"
        alt="Texto alternativo imagen 2"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">T&eacute;rmico</p>
      <h3 class="product-name">
        <a href="#">Overol Gatito</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/termicos/o_vaquita.jpeg"
    >
      <img
        src="./assets/Bootstrap/img/productos/termicos/o_vaquita.jpeg"
        alt="Texto alternativo imagen 3"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">T&eacute;rmico</p>
      <h3 class="product-name">
        <a href="#">Overol vaquita</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/termicos/osito.jpeg"
    >
      <img
        src="./assets/Bootstrap/img/productos/termicos/osito.jpeg"
        alt="Texto alternativo imagen 4"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">T&eacute;rmico</p>
      <h3 class="product-name">
        <a href="#">Conjunto Osito capucha</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->
<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/termicos/pancita.jpeg"
    >
      <img
        src="./assets/Bootstrap/img/productos/termicos/pancita.jpeg"
        alt="Texto alternativo imagen 1"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>

    <div class="product-body desc">
      <p class="product-category">T&eacute;rmico</p>
      <h3 class="product-name">
        <a href="#">Conjunto pancita</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/termicos/patch.jpeg"
    >
      <img
        src="./assets/Bootstrap/img/productos/termicos/patch.jpeg"
        alt="Texto alternativo imagen 2"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">T&eacute;rmico</p>
      <h3 class="product-name">
        <a href="#">Conjunto Patch</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/termicos/teddy.jpeg"
    >
      <img
        src="./assets/Bootstrap/img/productos/termicos/teddy.jpeg"
        alt="Texto alternativo imagen 3"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">T&eacute;rmico</p>
      <h3 class="product-name">
        <a href="#">Conjunto teddy</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->
