<div style="padding: 15px">
  <button type="button" class="btn btn-primary" routerLink="/productos">
    <i class="fa fa-arrow-left" aria-hidden="true"></i>
    Todos los productos
  </button>
</div>

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/varios/ajuarEstampado.jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/varios/ajuarEstampado.jpg"
        alt="Texto alternativo imagen 1"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>

    <div class="product-body desc">
      <p class="product-category">Ajuares</p>
      <h3 class="product-name">
        <a href="#">Ajuar toalla </a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/varios/baberos.jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/varios/baberos.jpg"
        alt="Texto alternativo imagen 2"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Baberos</p>
      <h3 class="product-name">
        <a href="#">Baberos peque&ntilde;os</a><br /><a href="#">/ delantal</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/varios/bbEco (2).png"
    >
      <img
        src="./assets/Bootstrap/img/productos/varios/bbEco (2).png"
        alt="Texto alternativo imagen 3"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Plum&oacute;n</p>
      <h3 class="product-name">
        <a href="#">Conjunto Plum&oacute;n 2 piezas</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/varios/bbEco (3).png"
    >
      <img
        src="./assets/Bootstrap/img/productos/varios/bbEco (3).png"
        alt="Texto alternativo imagen 4"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Plum&oacute;n</p>
      <h3 class="product-name">
        <a href="#">Enterizo Plum&oacute;n </a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/varios/bbEco (5).jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/varios/bbEco (5).jpg"
        alt="Texto alternativo imagen 1"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>

    <div class="product-body desc">
      <p class="product-category">Plum&oacute;n</p>
      <h3 class="product-name">
        <a href="#">Overol osito</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/varios/bividisPantalones.jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/varios/bividisPantalones.jpg"
        alt="Texto alternativo imagen 2"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">x 1/2 DOCENA</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Algod&oacute;n</p>
      <h3 class="product-name">
        <a href="#">Bividis</a><br /><a href="#">/ pantalones</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/varios/busosBVD.jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/varios/busosBVD.jpg"
        alt="Texto alternativo imagen 3"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">x 1/2 DOCENA</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Algod&oacute;n</p>
      <h3 class="product-name">
        <a href="#">Busos</a><br /><a href="#">/ Bividis</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/varios/canguros.jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/varios/canguros.jpg"
        alt="Texto alternativo imagen 4"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Varios</p>
      <h3 class="product-name">
        <a href="#">Canguros</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->
<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/varios/chambritasNinia.jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/varios/chambritasNinia.jpg"
        alt="Texto alternativo imagen 1"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>

    <div class="product-body desc">
      <p class="product-category">Tejidos</p>
      <h3 class="product-name">
        <a href="#">Chambritas ni&ntilde;a</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/varios/chambritasNinio.jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/varios/chambritasNinio.jpg"
        alt="Texto alternativo imagen 2"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Tejidos</p>
      <h3 class="product-name">
        <a href="#">Chambritas ni&ntilde;o</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/varios/cobijaSatin.jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/varios/cobijaSatin.jpg"
        alt="Texto alternativo imagen 3"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Cobija</p>
      <h3 class="product-name">
        <a href="#">Cobijas Sat&iacute;n</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/varios/cobijasEstuche.jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/varios/cobijasEstuche.jpg"
        alt="Texto alternativo imagen 4"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Cobija</p>
      <h3 class="product-name">
        <a href="#">Cobijas estuche animalitos</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->
<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/varios/conjuntoBear2Piezas.jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/varios/conjuntoBear2Piezas.jpg"
        alt="Texto alternativo imagen 1"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>

    <div class="product-body desc">
      <p class="product-category">Felpa</p>
      <h3 class="product-name">
        <a href="#">Conjunto bear 2 piezas</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/varios/enterizoBearColores.png"
    >
      <img
        src="./assets/Bootstrap/img/productos/varios/enterizoBearColores.png"
        alt="Texto alternativo imagen 2"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Felpa</p>
      <h3 class="product-name">
        <a href="#">Enterizo bear</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/varios/juego15piezas.jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/varios/juego15piezas.jpg"
        alt="Texto alternativo imagen 3"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Ajuar</p>
      <h3 class="product-name">
        <a href="#">Conjuntos 15 piezas</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/varios/juego9piezas.jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/varios/juego9piezas.jpg"
        alt="Texto alternativo imagen 4"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Ajuar</p>
      <h3 class="product-name">
        <a href="#">Conjuntos 9 piezas</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->
<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/varios/mediasCaritas.jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/varios/mediasCaritas.jpg"
        alt="Texto alternativo imagen 1"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>

    <div class="product-body desc">
      <p class="product-category">Medias</p>
      <h3 class="product-name">
        <a href="#">Medias caritas</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/varios/mediasEco.jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/varios/mediasEco.jpg"
        alt="Texto alternativo imagen 2"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Medias</p>
      <h3 class="product-name">
        <a href="#">Medias econ&oacute;micas</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/varios/ombligueros.jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/varios/ombligueros.jpg"
        alt="Texto alternativo imagen 3"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Termico</p>
      <h3 class="product-name">
        <a href="#">Ombligueros</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/varios/pañalera.jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/varios/pañalera.jpg"
        alt="Texto alternativo imagen 4"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Varios</p>
      <h3 class="product-name">
        <a href="#">Pa&ntilde;aleras</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->
<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/varios/pañales.jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/varios/pañales.jpg"
        alt="Texto alternativo imagen 1"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>

    <div class="product-body desc">
      <p class="product-category">Varios</p>
      <h3 class="product-name">
        <a href="#">Pa&ntilde;ales</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/varios/sleeping.jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/varios/sleeping.jpg"
        alt="Texto alternativo imagen 2"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Felpa</p>
      <h3 class="product-name">
        <a href="#">Sleeping</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/varios/tejidos.jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/varios/tejidos.jpg"
        alt="Texto alternativo imagen 3"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Tejidos</p>
      <h3 class="product-name">
        <a href="#">Busos abiertos</a><br /><a href="#">/ pantalones</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->

<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/varios/tejidosBusos.jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/varios/tejidosBusos.jpg"
        alt="Texto alternativo imagen 4"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>
    <div class="product-body desc">
      <p class="product-category">Tejidos</p>
      <h3 class="product-name">
        <a href="#">Busos cerrados</a><br /><a href="#">/ pantalones</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->
<!-- product -->
<div class="responsive">
  <div class="product galeria">
    <a
      class="product-img"
      target="_blank"
      href="./assets/Bootstrap/img/productos/varios/toalla.jpg"
    >
      <img
        src="./assets/Bootstrap/img/productos/varios/toalla.jpg"
        alt="Texto alternativo imagen 1"
        width="600"
        height="400"
      />
      <div class="product-label">
        <span class="new">NEW</span>
      </div>
    </a>

    <div class="product-body desc">
      <p class="product-category">Varios</p>
      <h3 class="product-name">
        <a href="#">Toallas</a>
      </h3>

      <div class="product-rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
  </div>
</div>
<!-- /product -->
